@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #675afe;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
img{
    width: 250px;
}
h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 25px;
}
.search_bar{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
input{
    width: 75%;
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}
button{
    cursor: pointer;
    padding: 8px;
    background-color: #675afe;
    color: #fff;
    border: 1px solid #675afe;
    letter-spacing: 1px;
    transition: .5s;
}
button:hover{
    background-color: #675afe;
}
#button_code_bar{
    width: 25%;
}
#box{
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#pdf_box{
    width: 100%;
}
#pdf_box button{
    width: 100%;
}
.error{
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    background-color: rgb(189, 92, 92);
    color: #fff;
}