@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #18f;
    flex-direction: column;
}
.message{
    color: #fff;
    padding: 5px 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}
section{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .calcul{
    display: flex;
}
section .calcul h1{
    color: #fff;
    font-size: 50px;
    margin: 0 20px;
}
section h2{
    color: #fff;
    margin: 10px 0;
}
section input{
    padding: 10px 0;
    border: 0;
    outline: 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    margin-bottom: 30px;
}

section input[type="submit"]{
    padding: 10px 65px;
    border: 0; 
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.5s;
}
section input[type="submit"]:hover{
    letter-spacing: 2px;
}
.score{
    font-size: 25px;
    color: #fff;
    text-align: center ;
}
a{
    color: #fff;
    text-decoration: 0;
    border: #fff solid 1px;
    padding: 10px 25px;
    margin: 25px 0;
    display: none;
}
span{
    font-size: 100px;
}