@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #0fb3a2;
}
.picture{
    margin: 20px 0;
    width: 450px;
    height: 450px;
}
.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*tab CSS*/
.tab{
    overflow: hidden;
    background-color: #009688;
}
/*Style des buttons de tab*/
.tab button{
    background-color: inherit;
    letter-spacing: 2px;
    float: left;
    border: none;
    outline: 0;
    color: #fff;
    cursor: pointer;
    padding: 14px 50px;
    font-size: 17px;
}
.tab button:hover{
    background-color: #009688;
}
.tab button.active{
    background-color: #316d67;
}
/* .tab button:active{
    background-color: #316d67;
} */
.tabcontent{
    color: #fff;
    display: none;
    flex-direction: column;
    padding: 6px 50px;
    animation: animation 0.5s ease-out;
}
/*animation*/
@keyframes animation {
    from{opacity: 0;}
    to{opacity: 1;}
    
}

h3{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}